
/* -----------------------------------------------------------------------------------------------
  ----------------------------------- Reset styling ----------------------------------------------
  ------------------------------------------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- Root variables ---------------------------------------------
  ------------------------------------------------------------------------------------------------ */

:root {
  /*Typografi*/
  --font-size-x-small: 16px;
  --font-size-small: 20px;
  --font-size-medium: 25px;
  --font-size-large: 48px;
  --font-size-xl: 68px;

  /*farver*/
  --primary-color: white;
  --secondary-color: #683f21;
  --third-color: #884c59;
  --fourth-color: #b38888;
}

/* Ændrer farve, tekst mm. på hele siden */

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1.4;
}
 
/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF NAVBAR ------------------------------------------
  ------------------------------------------------------------------------------------------------ */


/* Container til navbar */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Logo */
.logo {
  width: 200px;
  height: auto;
}

/* Højre del af navbar */
#right-navbar {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Dropdown menu */
.dropdown {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: var(--font-size-small);
}


/* Dropdown links */
.dropdown li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

/* underline ved hover */
.dropdown li a:hover {
  text-decoration: underline;
}

/* ikoner + søgning  */
.kurv {
  height: auto;
  width: 50px;
}

.heart {
  height: auto;
  width: 50px;
  margin-bottom: 8px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*-----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF HERO -------------------------------------------
  ------------------------------------------------------------------------------------------------ */

.hero {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hero billede */
.hero img.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Gradient over hero billede */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #f9c6c6 43%, transparent 100%);
}

/* CTA knap */

.btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 24px 32px;
  border: none;
  border-radius: 30px;
  font-size: var(--font-size-medium);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
  transition: all 0.3s ease;
}

/* Knap hover effekt */
.btn:hover {
background-color: var(--third-color);
}

/* Headline */
.headline {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: var(--font-size-large);
  text-shadow: 0.5px 0.5px 2px black;
  color: var(--primary-color);
  text-align: center;
}

/* Hero tekst */
.hero-text {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-shadow: 0.5px 0.5px 0.5px black;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Hero speaker */
.hero-speaker {
  position: absolute;
  right: 70%;
  top: 10%;
  z-index: 2;
}

.hero-speaker img {
  height: 600px;
  width: auto;
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF PRODUKTER --------------------------------------
  ------------------------------------------------------------------------------------------------ */


/* Giver luft */
.products {
  margin-top: 60px;
}

/* Produkter overskrift */
.products h2 {
  font-size: var(--font-size-large);
  margin-bottom: 30px;
}

/* Produkt grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

/* Produkt billeder */
.product-card img {
  max-width: 100%;
  height: 525px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Produkt navn og pris */
.product-name {
  font-size: var(--font-size-small);
  margin: 10px;
  margin-bottom: 5px;
}

.product-price {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF EGENSKABER---------------------------------------
  ------------------------------------------------------------------------------------------------ */


  /* Egenskaber billede */
.egenskaber-billede {
  background-color: var(--fourth-color);
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  gap: 2rem;
  margin-top: 80px;
  padding: 60px 80px;
}


/* Egenskaber tekst */
.egenskaber-tekst {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  height: auto;
  top: 250%;
  left: 73%;
}


/* Placerer ikoner */
.features-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}


/* ikoner og tekst side om side */
.feature {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 75px;
}


/* ikon størrelse */
.feature img {
  height: auto;
  width: 60px;
  margin-bottom: 10px;
}


/* tekst størrelse */
.feature p {
  font-size: var(--font-size-small);
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF INSTA SEKTION -----------------------------------
  ------------------------------------------------------------------------------------------------ */

 
.insta-section {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

 /* billeder i insta sektion */
.insta-section img {
  width: 100%;
  height: 535px;
  object-fit: cover;
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF COSTUMERS --------------------------------------
  ------------------------------------------------------------------------------------------------ */

/* Overskrift */
.customers h2 {
  text-align: center;
  font-size: var(--font-size-large);
  margin-top: 100px;
  margin-bottom: 80px;
}

/* anmeldelser */
.reviews {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}

/* anmeldelse tekst */
.review-card {
  flex: 0 0 35%;
  font-size: var(--font-size-small);
  font-style: italic;
  text-align: center;
  line-height: 1.6;
}

/* Rating */
.review-card img {
  height: 30px;
  margin-bottom: 15px;
  width: auto;
  height: 50px;
}

/* Kunde navn */
.customer-name {
  font-size: var(--font-size-small);
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
}

/* -----------------------------------------------------------------------------------------------
  ----------------------------------- STYLING AF FOOTER -----------------------------------------
  ------------------------------------------------------------------------------------------------ */

  /* kolonner i footer */
#footer-section {
  background-color: var(--third-color);
  color: var(--primary-color);
  margin-top: 150px;
  padding: 150px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
  gap: 2rem;
}

/* Nydhedsbrev */
.nyhedsbrev h6 {
  font-size: var(--font-size-small);
  margin-bottom: 50px;
}


/* input felt i nyhedsbrev */
.mailbox {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.mailbox input {
  flex: 1;
  padding: 5px;
  border-radius: 20px;
  font-size: var(--font-size-small);
}


/* tekst størrelse i footer */
.support p,
.info p {
  font-size: var(--font-size-small);
  margin: 8px 0;
}

/* social media sektion */
#social-media h4 {
  margin-bottom: 8px;
}

/* ikoner og tekst i footer */
.social-icons {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 6px 10px;
}

/* social media ikoner størrelse */
.instagram,
.tiktok {
  width: 50px;
  height: auto;
}

/*--------------------------------------------------------------------------------
-----------------------------------animationer------------------------------------
----------------------------------------------------------------------------------*/

/* zoom effekt på billeder i insta sektion */

.insta-section .zoom-img,
.hero-speaker .zoom-img
 {
  transform: scale(1);
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.insta-section .zoom-img.hover-zoom {
  transform: scale(1.05);
}

/* zoom effekt på hero speaker */

.hero-speaker .zoom-img.hover-zoom {
  transform: scale(1.09);
}


/* zoom effekt på produkt billeder*/

.product-card .zoom-img {
  transform: scale(1);
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}
.product-card .zoom-img.hover-zoom {
  transform: scale(1.04);
}

/* zoom effekt på CTA knap */

.btn.hover-zoom {
  transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}   





